{% extends 'base.html' %}
 {% load static %} 
 {%block content%}
<div style=" padding: 15vh 20px 20px 20px;">
  <div>
    <h1 class="h1" style="text-align: center; color:maroon">About CodeBin</h1>
    <hr>
    <br>
    <p class="h6">
      Welcome to CodeBin, an open-source code sharing platform dedicated to
      making collaboration and code management easier for developers around the
      world. CodeBin operates under the GNU General Public License v3.0,
      emphasizing the principles of transparency, collaboration, and
      community-driven development.
    </p>
  </div>
  <br>
  <div>
    <h3 class="h3" style="text-align: center; color:navy">Our Mission:</h3>
    <p class="h6">
      At CodeBin, our mission is to provide a secure and user-friendly
      environment for developers to share, store, and collaborate on code
      snippets effortlessly. We believe in the power of open source and the
      collective intelligence of the developer community. Key Features Secure
      Code Sharing: CodeBin ensures the confidentiality of your code while
      making it easy to share with colleagues, friends, or the broader developer
      community.
    </p>
  </div>
  <br>
  <div>
    <h3 class="h3" style="text-align: center; color:navy">User Interface:</h3>
    <p class="h6">
      Our intuitive interface is designed with developers in mind, making it
      easy to navigate and manage your code snippets. Open Source Community
      CodeBin is proudly an open-source project licensed under the GNU GPL v3.0.
      We believe in the importance of community-driven development and welcome
      contributions from developers worldwide. You can find our source code on
      GitHub, and we encourage you to get involved in shaping the future of
      CodeBin. Get Involved Whether you're a developer, designer, or simply
      passionate about open source, there are various ways to contribute to
      CodeBin. Visit our Contribution Guidelines to learn how you can get
      involved and make a positive impact on the project. Thank you for being
      part of the CodeBin community!
    </p>
  </div>
</div>
{%endblock%}
