{% extends 'base.html' %} {% load static %} {%block content%}
<div style="padding: 15vh 20px 20px 20px">
  <h1 class="h1" style="text-align: center; color: maroon">
    CodeBin Privacy Policy
  </h1>
  <hr>
  <br>
  <p class="h6">
    Your privacy is important to us at CodeBin. This Privacy Policy outlines the
    types of personal information we collect and how we use it. By using
    CodeBin, you agree to the practices described in this policy.
  </p>
  <br>
  <h3 class="h3" style="text-align: center; color: navy">
    Information We Collect
  </h3>
  <div class="h6">
    We don't collect information directly provided by you when using CodeBin.
    <br><br>
    This includes: 
    Content Uploads: Any code snippets
    and content you upload or share on CodeBin.
    Usage Data: Information related
    to your usage of CodeBin, including IP addresses, browser types, and other
    relevant data.
  </div>
  <br>
  <h3 class="h3" style="text-align: center; color: navy">
    How We Use Your Information
  </h3>
  <div class="h6">
    We use the collected information for the following purposes: Service
    Provision: To provide and maintain CodeBin services, including user accounts
    and code storage. Improvement: To analyze and improve the functionality,
    features, and user experience of CodeBin. Communication: To communicate with
    you regarding CodeBin updates, changes, or important notices.
  </div>
  <br>
  <h3 class="h3" style="text-align: center; color: navy">
    Information Sharing and Disclosure
  </h3>
  <div class="h6">
    We do not sell, trade, or otherwise transfer your personally identifiable
    information to third parties. However, we may share information with trusted
    third parties who assist us in operating our website, conducting our
    business, or servicing you. Data Security We prioritize the security of your
    information and employ reasonable measures to protect it. However, no method
    of transmission over the internet or electronic storage is 100% secure, and
    we cannot guarantee absolute security. Your Choices You can control what
    information you share with CodeBin. You may update or delete your account
    information at any time. Additionally, you have the choice to disable
    cookies in your browser settings.
  </div>
  <br>
  <h3 class="h3" style="text-align: center; color: navy">
    Changes to this Privacy Policy
  </h3>
  <div class="h6">
    CodeBin reserves the right to make changes to this Privacy Policy. Any
    changes will be reflected on this page, and users are encouraged to review
    this policy periodically.
  </div>
  <br>
  <h3 class="h3" style="text-align: center; color: navy">Contact Us</h3>
  <div class="h6">
    If you have any questions or concerns regarding this Privacy Policy, please
    contact us at <a href="mailto:Devendra@84rgmr.onmicrosoft.com">CodeBin</a>. Thank you for trusting CodeBin with your
    code and being part of our community.
  </div>
</div>

{%endblock%}
